@import "./bootstrap.min.css";

$bg-color: #ccc;
$main-color: #2062ac;

body {
    // background: $bg-color;
}

.title {
    text-transform: uppercase;
    border: 1px solid #bec3c9;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Arial';
    color: $main-color;
}